#bg {
  background-image: url("./public/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 450px;
}

#bg1 {
  background-image: url("./public/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 450px;
}
